<h3>
  {{name}} 
  {{#link-to 'company.edit' class='label label-info'}}Edit{{/link-to}}
</h3> 

{{description}}

{{outlet}}


<h5>Quests</h5>
<ul>
  {{#each quests}} 
    <li>
      {{name}}: {{description}}
    </li>
  {{/each}}
</ul>

